extends layout 

block content 
    section.about
        p If we didn't impress you already, buckle your guitar straps...

    section.subpage-title 
        h1=title
    
    section.articles-container 
        article.article-text-container 
            div.article-text 
                h2 Who are we?
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci doloremque unde ut, magni voluptatum sint. Eum cupiditate, excepturi, esse sit nam ullam fugit delectus iste unde beatae repudiandae, officiis at. Voluptatibus laudantium quis sit adipisci. Reiciendis asperiores minima modi sit quam. Ex ad voluptatibus laboriosam. Voluptatibus debitis sint, eos esse distinctio earum tenetur? Quos repellat consectetur in vero iure voluptatum voluptatibus dolores sunt odit, voluptatem illum et odio repudiandae minus labore quibusdam. Deleniti quis earum adipisci voluptatibus incidunt cupiditate, perferendis distinctio molestias quod odit error non saepe sed laudantium ipsum, ipsam consequuntur, fugit dignissimos atque inventore? Eius at architecto, ea aliquam quaerat facilis atque culpa accusantium adipisci. Laborum doloribus aspernatur repellendus id totam ipsum delectus mollitia fuga impedit laboriosam porro cumque dolores nulla, veritatis quas quibusdam. Blanditiis unde odio laborum fuga a dicta corrupti modi voluptatem optio similique commodi suscipit, asperiores porro! Cupiditate perferendis similique odit nesciunt a? Cupiditate, possimus! Veniam dolorem aspernatur facilis eveniet illum temporibus, saepe maxime repellendus tenetur autem nam iste, inventore magni in dolores a deserunt corporis rem. Velit amet, saepe ut aperiam provident, labore odio minus nisi enim soluta odit distinctio pariatur quibusdam minima accusantium. Libero, ipsam? Minima, sequi tempore odit voluptatibus voluptate voluptatem cum fugiat eum fugit explicabo labore corrupti ipsum porro iste obcaecati alias molestias, repellendus sint harum praesentium dicta optio blanditiis numquam. Deleniti mollitia consectetur, aperiam minus ipsam optio incidunt! Molestias tempora numquam eaque distinctio similique iusto nemo ipsa perspiciatis neque maiores dicta nostrum earum nihil blanditiis fugiat, at sunt mollitia placeat!
            img(src="", alt="")

        article.article-text-container 
            div.article-text 
                h2 Who are you?
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid, ex sit. Pariatur deserunt voluptatibus odio quibusdam cumque dolores quod veniam earum suscipit labore? Repellat laborum, delectus minus veritatis natus ipsa. Corrupti recusandae odit consequuntur tempore nam eveniet, voluptate eius perspiciatis exercitationem ipsum totam velit? Aliquam ea numquam, reprehenderit eaque fuga dolore quidem ut, delectus facilis obcaecati aspernatur quos cum nemo odio maxime! Blanditiis eaque cum dolore maxime optio cumque fugit? Magni natus voluptate a molestiae officiis velit alias voluptas exercitationem obcaecati vitae, et pariatur possimus quam illo hic praesentium maiores! Ex officia deserunt facere harum? Provident animi dolorum ducimus sint at non consequuntur! Quas quis nisi, suscipit quam voluptates amet ab sint, itaque provident rem officiis officia? Quis laborum quasi dolores obcaecati maxime ea quibusdam alias architecto, quae quod incidunt a, suscipit est ipsam qui, soluta corrupti! Ratione, nam blanditiis.
            img(src="", alt="")
        
        article.article-text-container 
            div.article-text  
                h2 What we can do for you?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate laboriosam at nihil dolorem illo! Cumque, aut. Earum fugit possimus tenetur eum quidem aspernatur alias voluptatibus minus, veritatis, quis, illum iste error ea corrupti saepe explicabo facere soluta debitis? Fuga repellat unde architecto excepturi nulla laborum, nobis, magni totam, asperiores in accusantium iusto eveniet minima quo nostrum suscipit. Quasi, cupiditate aliquam.
            img(src="", alt="")