extends layout 

block content 
    section.about 
        if error 
            p Problem getting db content.
        else 
            p We promise, nobody at #[em Pickup Artists] were paid out to carry these manufacturers below.

    section.subpage-title 
        h1=title
        
    section.cube-container-loop
        each manufacturer in manufacturer_list 
            a.cube(href=manufacturer.url)
                div.index-cube-lower 
                    h5 !{manufacturer.name} 
                    span Founded !{manufacturer.founding_date}
        else 
            p There are no manufacturers.    