extends layout 

block content 
    section.about
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quis perspiciatis quo inventore nostrum. In accusamus architecto magni excepturi deserunt et molestias nostrum, eveniet aperiam accusantium! Perferendis cumque doloribus iure deleniti cum ratione, molestias, facere quas sequi nostrum sed dolores?

    section.subpage-title 
        h1=title

    section.cube-container-loop(id='cube-fillout-page')
        a.cube(href='/inventory/guitar/create')
            img(src="/images/static/add/Add Model.jpg", alt="Add Guitar") 
            div.index-cube-lower
                h5  Add Guitar Model
        
        a.cube(href='/inventory/manufacturer/create')
            img(src="/images/static/add/Add Manufacturer.jpg", alt="Add Manufacturer") 
            div.index-cube-lower 
                h5  Add Manufacturer
        
        a.cube(href='/inventory/guitarinstance/create')
            img(src="/images/static/add/Add Stock.jpg", alt="Add Stock") 
            div.index-cube-lower 
                h5  Add Guitar Stock