extends layout 

block content 
    section.about
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quis perspiciatis quo inventore nostrum. In accusamus architecto magni excepturi deserunt et molestias nostrum, eveniet aperiam accusantium! Perferendis cumque doloribus iure deleniti cum ratione, molestias, facere quas sequi nostrum sed dolores?

    section.subpage-title 
        h1=title

    section.cube-container-loop(id='cube-fillout-page')
        a.cube(href='')
            div.index-cube-lower 
                h5  Add Guitar Model
        
        a.cube(href='')
            div.index-cube-lower 
                h5  Add Manufacturer
        
        a.cube(href='')
            div.index-cube-lower 
                h5  Add Guitar Stock